{%extends 'base.html'%}
{%block body%}
  <div id="video-container">
    <video autoplay loop muted>
      <source src="https://drive.google.com/uc?export=download&id=1-HgZShHEsfHC8JN-a1pupuaZ0zHjaDpe" type="video/mp4">
    </video>
    <div class="text-overlay">
      <h1 style="color: #6200ff">Invest your unused Bitcoins to Earn High Interests!</h1>
      <p style="color: #6520d4">Earn up to 1000% interest on your Bitcoin by investing it on our platform. It is secure and easy to use, and you can start earning interest today.</p>
      <button class="home_page_button"><a href="/plans">Explore Plans</a></button>
      <button class="home_page_button"><a href="https://bit.ly/42zoJOU">Invest Now</a></button>
    </div>
  </div>
{%endblock body%}